:root > * {
    --md-typeset-a-color: var(--md-primary-a-color);
    --md-footer-fg-color: var(--md-primary-bg-color);
    --md-footer-fg-color--light: var(--md-primary-bg-color--light);
    --md-footer-fg-color--lighter: var(--md-primary-bg-color--lighter);
    --md-footer-bg-color: var(--md-primary-fg-color);
    --md-footer-bg-color--dark: var(--md-primary-fg-color--dark);
}
